# dependencies
/node_modules

# production
/build
/dist

# misc
.DS_Store
.env.local
.env.test.local
.env.development.local
.env.production.local

yarn-debug.log*
yarn-error.log*

# deployment
/src/chains.ts
