.rewardtip {
  padding: 10px;
}

.list {
  list-style-type: disc;
  background-color: fade-out(white, 0.9);
  border-radius: 5px;
  margin: 20px 0px;
  padding: 10px 20px;
}

.item {
  margin: 10px;
}
