@import '../../styles/mixins';
@import '../../styles/variables';

.marketplace {
  width: 386px;
  padding: 20px 25px;
  border: solid 1px $line;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);

  @media (max-width: $breakpoint) {
    width: 100%;
    border-radius: 0;
  }
}

.header {
  @include flex(flex-start);
  margin-bottom: 10px;
}

.title {
  display: inline-block;
  font-weight: 500;
  margin-left: 5px;
}

.address {
  @include flex(space-between);
  font-size: 14px;

  border-bottom: 1px solid $line;
  padding: 16px 0;

  &:hover {
    text-decoration: none;
  }

  &:last-child {
    border: 0;
  }
}
