@import '../../styles/mixins';
@import '../../styles/variables';

.title {
  @include flex(space-between);
  font-weight: 500;
  margin-bottom: 24px;
}

.addButton {
  @include flex();
  margin-left: 2px;
}

.nftDetails {
  flex: 2;
  margin-right: 20px;
  justify-content: center;
  text-align: center;

  @media (max-width: $breakpoint-large) {
    width: 100%;
    margin-bottom: 25px;
  }
}

.placeholder {
  padding: 25px 0;
}
