@import '../../styles/mixins';
@import '../../styles/variables';

.wrapper {
  @include flex(space-between);
  border-top: 1px solid $line;
  padding: 25px 0;

  &:last-child {
    padding-bottom: 0px;
  }
}

.image {
  flex: none;
  border-radius: 5px;
  margin-right: 15px;
}

.info {
  @include flex();
  font-size: 14px;
}

.buttons {
  @include flex(center, flex-end);
  flex-wrap: nowrap;
  margin-left: 10px;

  @media (max-width: $breakpoint) {
    flex-direction: column;
  }
}

.viewButton {
  @media (max-width: $breakpoint) {
    margin-bottom: 10px;
  }
}

.name {
  text-align: left;
}
