@import '../styles/mixins';
@import '../styles/variables';

$border: 1px solid #cfd8ea;

.message {
  border: $border;
  border-radius: 5px;
  font-size: 12px;

  & + & {
    margin-top: 15px;
  }
}

.danger {
  border: 1px solid $red;
  color: $red;
}

.header {
  @include flex(space-between);
  cursor: pointer;
  padding: 15px 20px;

  .type {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .button {
    @include flex();
    border-radius: 3px;
    border: solid 1px $sky;
    color: $sky;
    font-size: 10px;
    font-weight: 500;
    padding: 0 6px;
  }
}

.dl {
  padding: 20px;
  padding-top: 0;

  dt {
    font-weight: bold;
  }

  dt:not(:first-child) {
    border-top: $border;
    padding-top: 10px;
  }

  dd {
    padding-top: 5px;
    padding-bottom: 10px;
  }
}
