.wrapper {
  text-align: center;

  img {
    margin-top: 40px;
    margin-bottom: 10px;
  }

  h1 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }

  p {
    font-size: 14px;
  }
}
