@import '../../styles/mixins';

.footer {
  @include flex();

  font-size: 13px;
  margin: 30px auto 0;

  i {
    margin-right: 8px;
  }
}

.tooltip a {
  color: inherit;
  font-weight: 500;
  text-decoration: underline;
  white-space: nowrap;
}
