@import '../../styles/variables';
@import '../../styles/mixins';

.footer {
  border-top: 1px solid $hairline;
  padding: 20px;
  padding-bottom: 0;

  span {
    @include flex(flex-start);
    display: inline-flex;

    color: $sky;
    font-size: 13px;
  }

  i {
    margin-right: 8px;
  }
}

.tooltip a {
  color: inherit;
  font-weight: 500;
  text-decoration: underline;
  white-space: nowrap;
}
