@import '../../styles/mixins';
@import '../../styles/variables';

.list {
  @include flex(flex-start);
  flex-wrap: wrap;

  .item {
    flex: none;

    @media (max-width: $breakpoint - 1) {
      width: 100%;
    }

    @media (min-width: $breakpoint) {
      width: 50%;
    }
  }
}

.item {
  @include flex();
  flex-direction: column;
  padding: 25px;
  position: relative;
  overflow: visible;

  h1 {
    font-size: 15px;
    font-weight: 500;
    margin-top: 10px;
    @media (max-width: $breakpoint - 1) {
      font-size: 18px;
    }
  }

  &:hover:not(:disabled) {
    background: $bg-hover;
  }

  &.disabled,
  &:disabled {
    i,
    h1 {
      opacity: 0.5;
    }
  }
}

.badge {
  position: absolute;
  left: 50%;
  bottom: -10px;
  transform: translate(-50%, 0);

  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
}
