@import '../../styles/mixins';
@import '../../styles/variables';

.list {
  @include flex();
  flex-wrap: wrap;
}

.item {
  width: (100% / 6);
  padding-right: 10px;
  position: relative;
}

$margin: 20px;
$padding: 7px;

.number {
  font-size: 12px;
  position: absolute;
  transition: top 200ms ease;
  top: $margin;

  &.small {
    font-size: 9px;
    top: $padding;
  }
}

.input {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  font-size: 12px;
  padding: $padding 0;
  margin-top: ($margin - $padding);
  width: 100%;
}
