@import '../styles/mixins';

.recent {
  max-height: 240px;
  overflow-x: hidden;
  overflow-y: auto;
}

.item {
  text-align: left;
}

.contents {
  li {
    @include flex(flex-start, flex-start);
  }

  strong {
    width: 5em;
    flex: none;
  }

  span {
    white-space: normal;
  }
}
