@import '../../styles/variables';

.component {
  @media (min-width: $breakpoint) {
    display: flex;
  }

  .nav {
    flex: none;
    margin-right: $gutter;
  }

  .main {
    flex: 1;
  }
}

.item:not(.selected) {
  opacity: 0.5;
}
