@import '../../styles/mixins';
@import '../../styles/variables';

.copy {
  @include flex(flex-start);
}

.text {
  font-size: 14px;
  margin-right: 5px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.button {
  background: #edf4fe;
  border-radius: 50%;
  width: 24px;
  height: 24px;
}
