@import '../../styles/mixins';
@import '../../styles/variables';

.card {
  display: flex;

  .article {
    flex: 1;
  }

  .button {
    flex: none;
  }
}

.extension {
  padding: 20px;

  &:not(:first-child) {
    border-top: 1px solid #e9edf8;
  }
}

.article {
  white-space: nowrap;
}

.header {
  @include flex(space-between);
}

.icon {
  border-radius: 50%;
  background: #121a2f;
  padding: 4px;
}

.denom {
  @include flex(flex-start);
  font-size: 16px;

  svg,
  img {
    margin-right: 10px;
  }
}

.action {
  @include flex();
}

.amount {
  @media (max-width: $breakpoint - 1) {
    font-size: 16px;
  }

  @media (min-width: $breakpoint) {
    font-size: 20px;
  }
}

.button {
  @media (max-width: $breakpoint - 1) {
    margin-left: 10px;
    line-height: 1;

    span {
      min-width: unset;
      font-size: 0;
      width: 24px;
      height: 24px;
      padding: 0;
    }
  }

  @media (min-width: $breakpoint) {
    margin-left: 25px;
  }
}
