@import '../../styles/variables';

.header {
  display: flex;
  align-items: center;

  button {
    display: flex;
    margin-left: 2px;
  }
}

.extension {
  border: 1px solid $line;
  border-radius: 8px;
}
