@import '../../styles/variables';

@media (max-width: $breakpoint - 1) {
  .button:before {
    content: 'send';
    font-family: 'Material Icons';
    font-size: 16px;
    margin-left: 1px;
    line-height: 1;
  }
}
