@import '../styles/mixins';
@import '../styles/variables';

$size: 38px;

.wrapper {
  @include flex(flex-end);
}

.component {
  border: 1px solid $line;
  border-radius: 2px;
  margin-top: 20px;

  display: inline-flex;
  height: $size;
  user-select: none;

  a {
    color: $brand;
    text-decoration: none;
  }

  span {
    color: $line;
    cursor: default;
  }
}

.text {
  background: $brand;
  color: white;
  font-size: 12px;
  line-height: $size;
  padding: 0 15px;
}

.start,
.prev,
.next,
.end {
  @include flex();
  width: $size;
}
