@import '../styles/mixins';
@import '../styles/variables';

$button: 24px;
$radius: (24px / 2);
$border: #d2d9f0;

.wrapper {
  @include flex();
  display: inline-flex;
  overflow: hidden;
}

.button {
  @include flex();
  background: white;
  border: 1px solid $border;
  font-size: 11px;
  padding: 0 15px;
  height: $button;

  &:first-child {
    border-top-left-radius: $radius;
    border-bottom-left-radius: $radius;
  }

  &:last-child {
    border-top-right-radius: $radius;
    border-bottom-right-radius: $radius;
  }

  &:not(:first-child) {
    margin-left: -1px;
  }
}

.active {
  background: $brand;
  color: white;
}
