.container {
  position: relative;

  i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0, -50%);
    pointer-events: none;
  }

  & + & {
    margin-left: 10px;
  }
}

.select {
  appearance: none;
  padding-right: 35px;
}
