@import './styles/mixins';
@import './styles/variables';
@import './styles/fonts';
@import './styles/reboot';
@import './styles/components';

body {
  @media (min-width: $breakpoint-large) {
    padding-left: $nav-width-large;
    padding-top: $nav-height-large;
  }
}
