@import '../styles/variables';
@import '../styles/mixins';

.component {
  @include flex(space-between);

  font-size: 14px;
  margin-bottom: 20px;

  a {
    color: #76a8f8;
    border: 1px solid $sky;
    border-radius: 2px;
    padding: 6px 8px;
    margin-left: 5px;

    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
  }
}
