@import '../styles/mixins';
@import '../styles/variables';

$border: 1px solid fade-out(black, 0.95);

.header {
  @include drag();

  background: white;
  border-bottom: $border;

  @media (min-width: $breakpoint-large) {
    position: fixed;
    top: 0;
    left: $nav-width-large;
    right: 0;
    z-index: 1030;
  }
}

.container {
  @include flex(space-between);
  overflow: hidden;

  @media (max-width: $breakpoint-large - 1) {
    padding: 15px 20px;
  }

  @media (min-width: $breakpoint-large) {
    padding: 0 $gutter-large;
    height: $nav-height-large;
    width: 100%;
    max-width: $max-width;
  }
}

.user {
  @include flex(flex-start);
  flex: 1;
  overflow: hidden;

  i {
    margin-right: 8px;
    font-size: 20px;
  }

  .username {
    @include truncate();
    font-size: 12px;
    font-weight: 500;
  }

  @media (max-width: $breakpoint-large - 1) {
    .button {
      border-radius: 5px;
      font-size: 13px;
      height: 40px;
      width: 100%;
    }
  }
}

.actions {
  flex: none;
}
