@import '../styles/mixins';
@import '../styles/variables';

.component {
  @include flex(space-between);
  background: darken($navy, 3%);
  padding: 20px;

  > div {
    flex: auto;
    margin-right: 10px;
  }
}

/* Select */
.select {
  border-radius: 2px;
  border: 1px solid #415e9f;
  font-size: 12px;
  padding: 0 25px 0 10px;
  text-transform: capitalize;
  height: 30px;
  + i {
    right: 5px;
  }
}

/* Connect */
.connect {
  @include flex(flex-end);
  color: #76a8f8;
  font-size: 11px;
  height: (11px * 1.5);
  min-width: 75px;
  white-space: nowrap;
}

.height i {
  margin-left: 5px;
}
