.title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 50px;
}

.component {
  text-align: center;

  canvas {
    border-radius: 8px;
  }
}

.warn {
  font-size: 12px;
  margin-top: 20px;
}
