@import '../styles/mixins';
@import '../styles/variables';

.manage {
  @include flex();
  font-weight: normal;
  margin: 0 auto;
  color: $sky;

  i {
    margin-right: 5px;
  }

  strong {
    margin-right: 0.2em;
  }
}
