@import '../../styles/mixins';
@import '../../styles/variables';

.link {
  color: unset;

  &:hover {
    text-decoration: none;

    .card {
      background: #f5f7fd;
    }
  }
}

.card {
  background: #f9fafd;
  height: 100%;
}

.id {
  font-size: 12px;
}

.title {
  font-size: 20px;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 10px;
}

.meta {
  font-size: 12px;
}

.details {
  @include flex(flex-start, center);
  font-size: 14px;
  margin-top: 20px;

  h2 {
    font-size: 12px;
  }

  p {
    margin-top: 5px;
  }

  strong {
    font-size: 18px;
  }

  // mobile
  @media (max-width: $breakpoint - 1) {
    flex-direction: column;
    text-align: center;

    article {
      margin-top: 20px;
    }
  }

  // desktop
  @media (min-width: $breakpoint) {
    article {
      @include flex(space-between, flex-start);
      flex-direction: column;
      padding: 0 20px;
    }

    article + article {
      border-left: 1px solid $line;
    }
  }
}
